<!--?xml version="1.0" encoding="UTF-8"?-->
<html lang="ko">
 <head> 
  <meta charset="UTF-8" /> 
  <title>
      [고양이 시트콤] 크림히어로즈 시즌1, 2화 새끼 고양이 돌보기는 힘들어!
    </title> 
  <link rel="canonical" href="http://tvpot.daum.net/v/v8090OghwAZAKPw6A6SqZgA" /> 
  <meta name="title" content="[고양이 시트콤] 크림히어로즈 시즌1, 2화 새끼 고양이 돌보기는 힘들어!" /> 
  <meta name="description" content="심장폭행 맹수들 크림히어로즈 본부에 새로운 부원들이 등장했습니다. 
냥이의 완성은 얼굴이라는 걸 보여주는 냥완얼 코코
어쩌다 귀여운 똘똘한 귀요미 모모 
똥꼬발랄한 이 두 고양이는 늘 뒤엉켜 놀곤 하는데요, 
가끔 너무 심하게 놀아 집사는 고민이 많습니다. 
하지만 이런 고민을 덜어주는 이가 있었으니 바로 크림 히어로즈의 다정 보스 디디! 
늘 " /> 
  <meta property="og:title" content="[Daum tv팟][고양이 시트콤] 크림히어로즈 시즌1, 2화 새끼 고양이 돌보기는 힘들어!" /> 
  <meta property="og:description" content="심장폭행 맹수들 크림히어로즈 본부에 새로운 부원들이 등장했습니다. 
냥이의 완성은 얼굴이라는 걸 보여주는 냥완얼 코코
어쩌다 귀여운 똘똘한 귀요미 모모 
똥꼬발랄한 이 두 고양이는 늘 뒤엉켜 놀곤 하는데요, 
가끔 너무 심하게 놀아 집사는 고민이 많습니다. 
하지만 이런 고민을 덜어주는 이가 있었으니 바로 크림 히어로즈의 다정 보스 디디! 
늘 " /> 
  <meta property="og:type" content="video" /> 
  <meta property="og:url" content="http://tvpot.daum.net/v/v8090OghwAZAKPw6A6SqZgA" /> 
  <meta property="og:regDate" content="20170216111024" /> 
  <meta property="og:image" content="http://i1.daumcdn.net/thumb/C480x270/?fname=http://t1.daumcdn.net/tvpot/thumb/v8090OghwAZAKPw6A6SqZgA/thumb.png" /> 
  <meta property="og:site_name" content="Daum tv팟" /> 
  <meta name="robots" content="index" /> 
  <meta name="medium" content="video" /> 
  <meta name="video_height" content="360" /> 
  <meta name="video_width" content="640" /> 
  <meta name="video_type" content="application/x-shockwave-flash" /> 
  <link rel="image_src" href="http://i1.daumcdn.net/thumb/C480x270/?fname=http://t1.daumcdn.net/tvpot/thumb/v8090OghwAZAKPw6A6SqZgA/thumb.png" /> 
  <link rel="video_src" href="http://videofarm.daum.net/controller/player/VodPlayer.swf?vid=v8090OghwAZAKPw6A6SqZgA" /> 
  <meta property="og:video" content="https://videofarm.daum.net/controller/player/VodPlayer.swf?vid=v8090OghwAZAKPw6A6SqZgA" /> 
  <meta property="og:video:height" content="360" /> 
  <meta property="og:video:width" content="640" /> 
  <meta property="og:video:type" content="application/x-shockwave-flash" /> 
  <meta name="twitter:site" content="@tvpot" /> 
  <meta name="twitter:title" content="[고양이 시트콤] 크림히어로즈 시즌1, 2화 새끼 고양이 돌보기는 힘들어!" /> 
  <meta name="twitter:image" content="http://i1.daumcdn.net/thumb/C480x270/?fname=http://t1.daumcdn.net/tvpot/thumb/v8090OghwAZAKPw6A6SqZgA/thumb.png" /> 
  <meta name="twitter:app:id:iphone" content="id721498714" /> 
  <meta name="twitter:app:id:ipad" content="id721498714" /> 
  <meta name="twitter:app:id:googleplay" content="net.daum.android.tvpot" /> 
  <meta name="twitter:app:url:iphone" content="daumtvpot4://playClip?clipid=81741909" /> 
  <meta name="twitter:app:url:googleplay" content="daumtvpot4://playClip?clipid=81741909" /> 
  <meta name="twitter:app:url:ipad" content="daumtvpot4://playClip?clipid=81741909" /> 
  <meta name="twitter:card" content="player" /> 
  <meta name="twitter:description" content="심장폭행 맹수들 크림히어로즈 본부에 새로운 부원들이 등장했습니다. 
냥이의 완성은 얼굴이라는 걸 보여주는 냥완얼 코코
어쩌다 귀여운 똘똘한 귀요미 모모 
똥꼬발랄한 이 두 고양이는 늘 뒤엉켜 놀곤 하는데요, 
가끔 너무 심하게 놀아 집사는 고민이 많습니다. 
하지만 이런 고민을 덜어주는 이가 있었으니 바로 크림 히어로즈의 다정 보스 디디! 
늘 " /> 
  <meta name="twitter:player" content="https://videofarm.daum.net/controller/video/viewer/Video.html?vid=v8090OghwAZAKPw6A6SqZgA&amp;play_loc=twitter" /> 
  <meta name="twitter:player:height" content="360" /> 
  <meta name="twitter:player:width" content="640" /> 
  <link rel="shortcut icon" href="/favicon.ico?20170213101234" /> 
  <link rel="stylesheet" type="text/css" href="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/css/any_view_playlist.css" /> 
  <link rel="stylesheet" type="text/css" href="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/css/brandpot.css" /> 
  <link rel="stylesheet" type="text/css" href="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/css/account.css" /> 
  <script type="text/javascript" src="http://www.google-analytics.com/plugins/ga/inpage_linkid.js" id="undefined">
    </script> 
  <script type="text/javascript" src="http://www.google-analytics.com/ga.js">
    </script> 
  <script type="text/javascript" src="http://s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.8.3.min.js">
    </script> 
  <script type="text/javascript" src="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/js/common.merge.js" charset="utf-8">
    </script> 
  <script type="text/javascript" src="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/js/view.merge.js" charset="utf-8">
    </script> 
  <script type="text/javascript" src="http://s1.daumcdn.net/tvpot/20170213101234/brandpot/js/stat.merge.js" charset="utf-8">
    </script> 
  <script type="text/javascript" src="http://m1.daumcdn.net/svc/original/U03/cssjs/tvpot/player_tracker/4/play_tracker.min.js">
    </script> 
  <script type="text/javascript" src="http://m2.daumcdn.net/tiara/js/td.min.js">
    </script> 
 </head> 
 <body style="background:url(http://i1.daumcdn.net/uf/attach/U01/tvpot_user/56CBC2964128C40012) 50% 36px; background-repeat:no-repeat;background-color:#f7c243;"> 
  <script id="SMRGNBTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

<div id="daumGnb" class="brandpot_service" role="navigation">
	<h2 class="screen_out">브랜드팟 방송사 목록</h2>
		<ul class="list_broad">
			{{each smrGnb}}
				{{if $index < 8}}
					<li><a href="/mypot/Top.do?ownerid=${ownerId}" class="link_txt">${brandpotName}</a></li>
				{{/if}}
			{{/each}}		
		</ul>
</div>

//]]>
    </script> 
  <div id="daumIndex"> 
   <a href="#daumBody" rel="bookmark"> 본문 바로가기 </a> 
   <a href="#daumGnb" rel="bookmark"> 메뉴 바로가기 </a> 
  </div> 
  <div id="daumWrap" class="brandpot_type2 pagecolor_type3"> 
   <div id="daumHead" role="banner"> 
    <div class="inner_header"> 
     <h1 class="tit_logo"> <a href="http://www.daum.net" id="daumLogo" class="logo_daum"> <img src="http://i1.daumcdn.net/icon/see/2012_brand/logo_daum_131128.gif" width="41" height="22" class="img_logo" alt="Daum" /> </a> <a href="http://tvpot.daum.net" id="daumServiceLogo" class="txt_comm link_tvpot"> tv팟 </a> </h1> 
     <div class="relation_service"> 
      <h2 class="screen_out"> 관련 서비스 </h2> 
      <a href="/my/Gate.do" class="txt_comm link_mypot"> 마이팟 </a> 
      <a href="/upload/ClipUpload.do?from=gnb" class="txt_comm link_upload"> 동영상올리기 </a> 
     </div> 
     <!-- 2012-11-09 알림,구독 시작 --> 
     <div class="relation_notice"> 
      <a href="javascript:;" class="link_info link_subcribe"> <span class="txt_comm"> 구독 </span> </a> 
      <span class="img_noti txt_bar"> | </span> 
      <!-- 구독레이어 --> 
      <div class="brand_layer" id="subscribeLayer" style="display:none;top:35px;left:774px"> 
       <div class="inner_brand_layer inner_brand_layer3"> 
        <div class="layer_head"> 
         <strong class="screen_out"> 구독 목록 </strong> 
        </div> 
        <div class="layer_body subscribe_body"> 
         <div class="img_noti arr_noti"> 
         </div> 
         <p class="txt_noti"> 로그인 후 구독정보를 <br /> 확인할 수 있습니다. </p> 
        </div> 
        <div class="layer_foot subscribe_foot"> 
         <a href="http://profile.daum.net/Alimi.daum" class="img_noti link_all"> 로그인 하기 </a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <!-- 2012-11-09 알림,구독 끝 --> 
     <div id="minidaumUser" class="minidaum_login"> 
      <!-- 로그아웃 --> 
      <a id="btnMinidaumLogin" target="_top" href="http://login.daum.net/accounts/loginform.do?nil_profile=login" class="btn_log btn_in"> 로그인 </a> 
     </div> 
     <div id="daumGnbDummy"> 
     </div> 
    </div> 
   </div> 
   <!-- // daumHead --> 
   <hr class="screen_out" /> 
   <div id="daumContent" class="cont_program"> 
    <h2 id="daumBody" class="screen_out"> 브랜드 본문 </h2> 
    <div id="cSub"> 
     <div class="brand_info"> 
      <div class="box_info titlebox_white"> 
       <!-- black ver. : class="titlebox_black", white ver. : class="titlebox_white" --> 
       <div class="inner_box"> 
        <div class="info_band bg_comm2"> 
         <h3 class="tit_brand"> <span class="txt_subject"> <a href="/mypot/Top.do?ownerid=P.9W_h7v-vo0" title="탑페이지로 이동" class="link_subject"> <img src="http://cfile292.uf.daum.net/original/2302CB49586EF5E936AFCB" class="thumb_img" alt="Cream Heroes" /> </a> </span> </h3> 
         <!-- 해당 프로젝트명 입력 --> 
         <button class="btn_comm2 btn_take" onclick="Tvpot.Brand.goLogin();return false;"> 구독신청하기 </button> 
         <p class="desc_brand"> '반려동물을 사랑하는 사람들의 모임' 속 귀요미들의 영상 </p> 
         <strong class="screen_out"> 관련사이트 목록 </strong> 
         <ul class="list_opt"> 
          <li> <a href="http://www.facebook.com/groups/ilovedogcat/" class="link_option" title="반사모 바로가기" target="_blank"> <span class="img_sns ico_face"> </span> <span class="txt_sns"> 반사모 </span> </a> </li> 
         </ul> 
        </div> 
       </div> 
      </div> 
      <div class="brand_menu"> 
       <ul class="lnb_brand"> 
        <li> <a href="/mypot/Top.do?ownerid=P.9W_h7v-vo0" class="menu_g link_home" title="홈 바로가기"> <span class="txt_comm2"> 홈 </span> </a> </li> 
        <li class="on"> <a href="/mypot/View.do?ownerid=P.9W_h7v-vo0" class="menu_g link_vod" title="동영상 바로가기"> <span class="txt_comm2"> 동영상 </span> </a> </li> 
        <li> <a href="/mypot/StatsSummary.do?ownerid=P.9W_h7v-vo0" class="menu_g link_statistic" title="통계 바로가기"> <span class="txt_comm2"> 통계 </span> </a> </li> 
        <li class="lst"> <a href="/mypot/GuestBook.do?ownerid=P.9W_h7v-vo0" class="menu_g link_guest" title="방명록 바로가기"> <span class="txt_comm2"> 방명록 </span> </a> </li> 
       </ul> 
       <form action="/mypot/Search.do" class="searchform_comm bg_comm2" method="get" id="brandSearch"> 
        <fieldset> 
         <legend class="screen_out"> 검색폼 </legend> 
         <input type="hidden" name="ownerid" value="P.9W_h7v-vo0" /> 
         <input type="text" id="q" class="tf_keyword" name="q" title="검색어" /> 
         <button type="button" class="screen_out"> 검색 </button> 
        </fieldset> 
       </form> 
      </div> 
      <div class="brand_bnr"> 
       <a href="${groupLinkUrl}" class="link_bnr" target="_blank"> </a> 
      </div> 
     </div> 
    </div> 
    <!--// cSub --> 
    <div id="cMain"> 
     <div id="mArticle" role="main" style="position:relative;z-index:1"> 
      <!-- 2013-01-25 추가 시작 --> 
      <div class="vod_current" id="clipTitleArea" style="display: none;"> 
      </div> 
      <!-- 2013-01-25 추가 끝 --> 
      <div class="vod_play hide" id="clipInfoArea" style="display: none;"> 
       <div class="layer_notice" style="display:none;"> 
        <p class="screen_out"> 클릭하면 커진다! 확 커진 플레이어로 감상하세요! </p> 
        <a href="http://blog.daum.net/ahahvideo/17946481" target="_blank" class="link_notice" title="공지사항으로 이동"> 공지사항으로 이동 </a> 
        <a href="#layerClose" class="link_close" title="닫기"> 닫기 </a> 
       </div> 
       <div id="clipArea" style="background:url(http://i1.daumcdn.net/icon/see/2012_brand/loading_black_121207.gif) no-repeat 50% 120px"> 
       </div> 
       <div class="play_addition"> 
        <div class="info_view"> 
         <ul class="tab_addition"> 
          <li class="fst" data-type="comment"> <a href="javascript:;" class="link_addition link_cmt"> 댓글 <em class="num_cmt"></em> </a> </li> 
          <li data-type="desc"> <a href="javascript:;" class="link_addition link_cont"> 본문 </a> </li> 
          <li data-type="count"> <a href="javascript:;" class="link_addition link_stat"> 통계 </a> </li> 
          <li data-type="share"> <a href="javascript:;" class="link_addition link_common"> 공유 </a> </li> 
          <li data-type="save"> <a href="javascript:;" class="link_addition link_fill"> 담기 </a> </li> 
         </ul> 
         <a href="javascript:;" class="btn_modify" target="_blank" style="display:block;"> <span class="ico_comm2"> 동영상수정 </span> </a> 
         <a href="javascript:;" class="btn_comm btn_vodrecom" title="추천하기"> <span class="screen_out"> 동영상 추천 </span> <span class="num_recom"> 999 </span> </a> 
        </div> 
        <!-- 2015-08-11 훈플캠페인배너 추가 시작 --> 
        <div class="hide" id="commentCleanArea"> 
         <a href="http://blog.daum.net/ahahvideo/17946621" target="_blank" class="link_clean"> [캠페인] 훈플을 달아야 하는 이유! 확인하고 달기! </a> 
        </div> 
        <!-- 2015-08-11 훈플캠페인배너 추가 시작 --> 
        <div class="info_addition hide" id="commentArea" style="display: none;"> 
         <a name="comment"> </a> 
         <div class="cmt_comm"> 
          <strong class="screen_out"> 댓글 </strong> 
          <form name="commentForm" id="commentForm" method="post" action="/mypot/json/WriteComment.do"> 
           <fieldset class="fld_cmt"> 
            <legend class="screen_out"> 댓글 작성 폼 </legend> 
            <input type="hidden" value="42692201" id="clipid" name="clipid" /> 
            <input type="hidden" name="sendsns" value="" /> 
            <input type="hidden" name="daumEventid" value="" /> 
            <input type="hidden" name="ownerId" value="" /> 
            <textarea class="tf_cmt" cols="90" rows="5" title="댓글을 달아주세요" id="contents" name="contents">인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요.</textarea> 
            <button type="submit" class="btn_comm btn_cmt"> 등록 </button> 
            <div class="byte_cmt"> 
             <span class="screen_out"> 입력된 바이트 수 : </span> 
             <span class="txt_byte" id="formByteText"> 0 </span> / 300자 
            </div> 
           </fieldset> 
          </form> 
          <strong class="screen_out"> 전체 댓글 </strong> 
          <div id="commentListArea"> 
          </div> 
         </div> 
         <div class="paging_comm" id="commentPaging"> 
          <span class="inner_paging"> </span> 
         </div> 
         <div class="fold_comm"> 
          <a href="javascript:;" class="link_fold"> <span class="ico_comm"> 접기 </span> </a> 
         </div> 
        </div> 
        <div class="info_addition hide" id="descArea" style="display: none;"> 
        </div> 
        <div class="info_addition hide" id="statArea" style="display: none;"> 
         <!-- 활성화 : class="show", 비활성화 : class="hide" --> 
         <strong class="screen_out"> 통계 </strong> 
         <ul class="tab_statistic"> 
          <li data-type="playCount" class="on"> <a href="javascript:;" class="link_statistic link_play"> 플레이수 </a> <span class="txt_bar"> | </span> </li> 
          <li data-type="user"> 
           <!-- 선택 된 메뉴 : class="on" 추가 --> <a href="javascript:;" class="link_statistic link_use"> 이용자통계 </a> <span class="txt_bar"> | </span> </li> 
          <li data-type="scrap"> <a href="javascript:;" class="link_statistic link_scoop"> 퍼간곳 </a> <span class="txt_bar"> | </span> </li> 
          <li data-type="scrapInPot"> <a href="javascript:;" class="link_statistic link_fill"> 담아간곳 </a> </li> 
         </ul> 
         <div class="box_statistic box_playCount show"> 
          <!-- 활성화 : class="show", 비활성화 : class="hide" --> 
          <strong class="screen_out"> 플레이 수 </strong> 
          <div class="play_term"> 
           <strong class="term_num"> </strong> 
           <div class="opt_comm"> 
            <!-- 선택박스 리스트 오픈 : class="opt_open" 추가 --> 
            <div class="screen_out">
              기간설정 선택상자 
            </div> 
            <span class="screen_out"> 선택내용 : </span> 
            <a href="javascript:;" class="btn_comm link_selected"> 최근1주전 </a> 
            <input type="hidden" value="최근1주전" /> 
            <div class="screen_out">
              선택옵션 
            </div> 
            <ul class="list_opt"> 
             <li> <a href="javascript:;" class="link_option"> 최근1주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근2주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근3주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근4주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근5주전 </a> </li> 
            </ul> 
           </div> 
          </div> 
          <div class="graph_bar"> 
           <div class="graph_position"> 
            <div id="wrapCount" class="wrapCount wrapper"> 
            </div> 
           </div> 
           <strong class="screen_out"> 범례 </strong> 
           <ul class="list_account"> 
            <li> <span class="bar_color bar_red"> 빨간색 막대 : </span> <span class="txt_account"> Daum 내부 플레이수 </span> </li> 
            <li> <span class="bar_color bar_blue"> 파랑색 막대 : </span> <span class="txt_account"> Daum 외부 플레이수 </span> </li> 
            <li> <span class="screen_out"> 아래 화살표 </span> <span class="ico_comm ico_total"> 총 플레이수 </span> </li> 
           </ul> 
          </div> 
         </div> 
         <div class="box_statistic box_user hide"> 
          <!-- 활성화 : class="show", 비활성화 : class="hide" --> 
          <strong class="screen_out"> 이용자 통계 </strong> 
          <div class="play_term clear_g"> 
           <strong class="term_num"> </strong> 
           <script id="dateSpanTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
						<span class="num_comm num_play${date0}">${date0}</span>
						<span class="num_comm num_play${date1}">${date1}</span>
						<span class="num_comm num_play${date2}">${date2}</span>
						<span class="num_comm num_play${date3}">${date3}</span>
						<span class="num_comm num_dot">.</span>
						<span class="num_comm num_play${date4}">${date4}</span>
						<span class="num_comm num_play${date5}">${date5}</span>
						<span class="num_comm num_dot">.</span>
						<span class="num_comm num_play${date6}">${date6}</span>
						<span class="num_comm num_play${date7}">${date7}</span>
						<span class="num_comm num_wave">~</span>
						<span class="num_comm num_play${date8}">${date8}</span>
						<span class="num_comm num_play${date9}">${date9}</span>
						<span class="num_comm num_play${date10}">${date10}</span>
						<span class="num_comm num_play${date11}">${date11}</span>
						<span class="num_comm num_dot">.</span>
						<span class="num_comm num_play${date12}">${date12}</span>
						<span class="num_comm num_play${date13}">${date13}</span>
						<span class="num_comm num_dot">.</span>
						<span class="num_comm num_play${date14}">${date14}</span>
						<span class="num_comm num_play${date15}">${date15}</span>

//]]>
                      </script> 
           <div class="opt_comm"> 
            <!-- 선택박스 리스트 오픈 : class="opt_open" 추가 --> 
            <div class="screen_out">
              기간설정 선택상자 
            </div> 
            <span class="screen_out"> 선택내용 : </span> 
            <a href="javascript:;" class="btn_comm link_selected"> 최근1주전 </a> 
            <input type="hidden" value="최근1주전" /> 
            <div class="screen_out">
              선택옵션 
            </div> 
            <ul class="list_opt"> 
             <li> <a href="javascript:;" class="link_option"> 최근1주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근2주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근3주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근4주전 </a> </li> 
             <li> <a href="javascript:;" class="link_option"> 최근5주전 </a> </li> 
            </ul> 
           </div> 
          </div> 
          <div class="graph_circle graph_age"> 
           <div class="graph_position"> 
            <div id="wrapAge" class="wrapAge wrapper"> 
            </div> 
           </div> 
           <strong class="screen_out"> 범례 </strong> 
           <ul class="list_account"> 
            <li> <span class="bar_color bar_red"> 빨간색 막대 : </span> <span class="txt_account"> 10대 </span> </li> 
            <li> <span class="bar_color bar_yellow"> 노랑색 막대 : </span> <span class="txt_account"> 20대 </span> </li> 
            <li> <span class="bar_color bar_green"> 초록색 막대 : </span> <span class="txt_account"> 30대 </span> </li> 
            <li> <span class="bar_color bar_blue"> 파랑색 막대 : </span> <span class="txt_account"> 40대 </span> </li> 
            <li class="lst"> <span class="bar_color bar_purple"> 보라색 막대 : </span> <span class="txt_account"> 50대 </span> </li> 
           </ul> 
          </div> 
          <div class="graph_circle graph_sex"> 
           <div class="graph_position"> 
            <div id="wrapGender" class="wrapGender wrapper"> 
            </div> 
           </div> 
           <strong class="screen_out"> 범례 </strong> 
           <ul class="list_account"> 
            <li> <span class="bar_color bar_gray"> 회색 막대 : </span> <span class="txt_account"> 남자 </span> </li> 
            <li> <span class="bar_color bar_pink"> 분홍색 막대 : </span> <span class="txt_account"> 여자 </span> </li> 
           </ul> 
          </div> 
         </div> 
         <div class="box_statistic box_scrap hide"> 
          <!-- 활성화 : class="show", 비활성화 : class="hide" --> 
          <input type="hidden" class="clipId" value="" /> 
          <strong class="screen_out"> 퍼간곳 </strong> 
          <div class="tbl_head"> 
           <span class="ir_pm"> 아래 게시판에 다음 정보가 게시됨 </span> 
           <span class="th_tit tit_url"> 퍼간곳 </span> 
           <span class="txt_bar"> | </span> 
           <span class="th_tit tit_inquiry"> 조회수 </span> 
          </div> 
          <p class="screen_out"> 아래 테이블은 동영상을 퍼간곳의 url과 조회수를 안내합니다. </p> 
          <div class="tbl_scoop tbl_scrap"> 
           <div class="inner_tbl"> 
            <table class="tbl"> 
             <caption class="screen_hide">
               동영상 퍼간곳 테이블 
             </caption> 
             <colgroup> 
              <col class="col_url" /> 
              <col class="col_inquiry" /> 
             </colgroup> 
             <thead align="left"> 
              <tr> 
               <th scope="col" class="screen_out"> 퍼간곳 </th> 
               <th scope="col" class="screen_out"> 조회수 </th> 
              </tr> 
             </thead> 
             <tbody class="scrapBody" align="left"> 
             </tbody> 
             <script id="scrapTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
						
	{{if spread_domain_list.length == 0 }}
	<tr><td>
	<strong class="txt_nodata" style="padding-left:260px;">퍼간곳 목록이 없습니다.</strong>
</td></tr>
	{{else}}
	{{each(i, el) spread_domain_list}}
								<tr class="one_depth{{if i%2 == 1}} bg_scrap{{/if}}" listLoaded="false">
									<td>
										<span class="txt_scoop">
											<a domain-id="${el.domain_id}" href="javascript:;" class="img_view btn_open" onclick="Tvpot.Brand.Utils.statsFold(this);return false;">퍼간곳 펼치기</a>
											<a href="${el.domain}" target="_blank" class="link_txt">${el.domain}</a>
										</span>
									</td>
									<td>
										<span class="num_inquiry">${el.play_count}</span>
									</td>
								</tr>
	{{/each}}
	{{/if}}

//]]>
                          </script> 
             <script id="scrapListTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

{{each spread_path_list}}
{{if $index != spread_path_list.length-1}}
	<tr><!-- 접힐때 screen_out클래스로 접힘 -->														
		<td>
			<span class="txt_scoop"><a href="${path}" title="${path}" target="_blank" class="link_txt" style="overflow:hidden;">${Tvpot.Brand.Utils.cutString($value.path,70,"..")}</a></span>
		</td>
		<td>
			<span class="num_inquiry">${count}</span>
		</td>
	</tr>
{{else}}
	<tr class="lst"><!-- 접힐때 screen_out클래스로 접힘 -->														
		<td>
			<span class="txt_scoop"><a href="${path}" title="${path}" target="_blank" class="link_txt" style="overflow:hidden;">${Tvpot.Brand.Utils.cutString($value.path,70,"..")}</a></span>
		</td>
		<td>
			<span class="num_inquiry">${count}</span>
		</td>
	</tr>
{{/if}}
{{/each}}

//]]>
                          </script> 
            </table> 
           </div> 
          </div> 
         </div> 
         <div class="box_statistic box_scrapInPot hide"> 
          <!-- 활성화 : class="show", 비활성화 : class="hide" --> 
          <strong class="screen_out"> 담아간곳 </strong> 
          <div class="tbl_head"> 
           <span class="ir_pm"> 아래 게시판에 다음 정보가 게시됨 </span> 
           <span class="th_tit tit_mypot"> 마이팟명 </span> 
           <span class="txt_bar"> | </span> 
           <span class="th_tit tit_playlist"> 플레이리스트명 </span> 
          </div> 
          <p class="screen_out"> 아래 테이블은 동영상을 담아간곳의 마이팟명과 플레이리스트명을 안내합니다. </p> 
          <div class="tbl_scoop"> 
           <div class="inner_tbl"> 
            <table class="tbl"> 
             <caption class="screen_hide">
               동영상 담아간곳 테이블 
             </caption> 
             <colgroup> 
              <col class="col_mypot" /> 
              <col class="col_playlist" /> 
             </colgroup> 
             <thead align="left"> 
              <tr> 
               <th scope="col" class="screen_out"> 마이팟명 </th> 
               <th scope="col" class="screen_out"> 플레이리스트명 </th> 
              </tr> 
             </thead> 
             <tbody class="scrapInPotBody" align="left"> 
             </tbody> 
             <script id="scrapInPotTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

	{{if scrap_playlist_list.length == 0 }}
	<tr><td>
	<strong class="txt_nodata" style="padding-left:260px;">담아간곳 목록이 없습니다.</strong>
</td></tr>
	{{else}}
	{{each scrap_playlist_list}}
								<tr>
									<td>
										<span class="txt_scoop">${mypot_name}</span>
									</td>
									<td>
										<span class="txt_scoop txt_playlist"><a href="${playlist_link_url}" class="link_txt">${playlist_name}</a></span>
									</td>
								</tr>
	{{/each}}		
	{{/if}}				

//]]>
                          </script> 
            </table> 
           </div> 
          </div> 
         </div> 
         <div class="fold_comm"> 
          <a href="javascript:;" class="link_fold"> <span class="ico_comm"> 접기 </span> </a> 
         </div> 
         <script id="statWomanTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

<span class='txt_sex txt_female'>여자</span>

//]]>
                  </script> 
         <script id="statManTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

<span class='txt_sex txt_male'>남자</span>

//]]>
                  </script> 
        </div> 
        <div class="info_addition hide" id="shareArea" style="display: none;"> 
         <strong class="screen_out"> 공유 </strong> 
         <div class="spread_vod"> 
          <div class="info_spread info_sns"> 
           <strong class="txt_comm tit_spread"> SNS </strong> 
           <ul class="list_sns" open-data="true"> 
            <li class="on"> 
             <!-- 활성화 : class="on" --> <a class="btn_comm link_ks" id="kakaostoryShare" href="#none"> 카카오스토리 </a> </li> 
            <li class="on"> <a class="btn_comm link_twi" id="twitterShare" href="#none"> 트위터 </a> </li> 
            <li class="on"> <a class="btn_comm link_face" id="facebookShare" href="#none"> 페이스북 </a> </li> 
            <li class="on"> <a class="btn_comm link_cafe" href="#none"> 카페 </a> </li> 
            <li class="on"> <a class="btn_comm link_blog" href="#none"> 블로그 </a> </li> 
           </ul> 
          </div> 
          <div class="info_spread info_url"> 
           <strong class="txt_comm tit_spread"> URL </strong> 
           <p class="txt_box txt_url" id="txtBrandpotUrl"> http://tvpot.daum.net/v/ve59fIie9m9mImulf2ueejf </p> 
           <button class="btn_comm btn_copy" type="button" id="btnUrlCopy"> 주소복사 </button> 
          </div> 
          <div class="info_spread info_source"> 
           <strong class="txt_comm tit_spread"> 소스퍼가기 </strong> 
           <p class="txt_box txt_source" id="txtBrandpotSource"> &lt;iframe title='' width='640px' height='360px' src='http://videofarm.daum.net/controller/video/viewer/Video.html?vid=v74fdaudBuDukuTBkmeHdDm&amp;play_loc=undefined' frameborder='0' scrolling='no' &gt; </p> 
           <button class="btn_comm btn_copy" type="button" id="btnSourceCopy"> 소스복사 </button> 
           <p class="txt_append"> * Object 로 퍼가기 및 상세옵션은 동영상 플레이어에서 가능합니다. </p> 
          </div> 
         </div> 
         <div class="fold_comm"> 
          <a class="link_fold" href="javascript:;"> <span class="ico_comm"> 접기 </span> </a> 
         </div> 
         <script type="text/javascript">
//<![CDATA[

	ZeroClipboard.setMoviePath( "http://s1.daumcdn.net/tvpot/20170213101234/brandpot/js/module/ZeroClipboard.swf" );
	// ZeroClipboard glue - brandpot.js에서 share탭 init할때

//]]>
                  </script> 
        </div> 
       </div> 
       <div id="playInfoArea"> 
       </div> 
      </div> 
      <script id="commentListItemTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
  		{{each commentList}}				
				<div commentId="${comment_id}" class="list_cmt{{if is_best}} list_best{{/if}}{{if is_re_comment}} list_reply{{/if}}{{if $index==0}} fst{{/if}}"> <!-- 베스트 댓글 : class="list_best" 추가 -->
					<div class="cmt_body">
						<p class="txt_desc">
							<em class="screen_out">BEST</em>
							{{html contents}}
							{{if is_owner}}<a href="/mypot/json/DeleteComment.do?clipid=${target_id}&cmtid=${comment_id}" class="btn_comm btn_delete">삭제</a>{{/if}}{{if is_new}}<span class="ico_comm ico_new">new</span>{{/if}}
						</p>
						<span class="info_append">
							<span class="txt_name">${short_daumname}</span>
							<span class="txt_time">${regdttm}</span>
						</span>
					</div>
					<div class="cmt_foot">
						{{if is_owner == false}}						
						{{if is_re_comment == false}}					
						<a href="/mypot/json/WriteComment.do?clipid=${target_id}&pcmtid=${comment_id}&contents=" class="link_report link_reply">답글</a>
						<span class="txt_bar"> | </span>
						{{/if}}											
						<a href="${Tvpot.Brand.Utils.getSpamUrl(target_id, comment_id, contents)}" class="link_report">신고</a>
						{{/if}}
					</div>
					{{if is_re_comment == false}}
					<a href=" /mypot/json/RecommendComment.do?clipid=${target_id}&cmtid=${comment_id}" class="btn_comm btn_recom" title="이 댓글을 추천합니다">
						<span class="screen_out">이 댓글 추천 수 : </span><span class="count">${re_commend_cnt}</span>
					</a>
					{{/if}}
				</div>
		{{/each}}

//]]>
            </script> 
      <script id="commentItemTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 				
				<div comment-id="${comment_id}" class="list_cmt{{if is_best}} list_best{{/if}}{{if is_re_comment}} list_reply{{/if}}"> <!-- 베스트 댓글 : class="list_best" 추가 -->
					<div class="cmt_body">
						<p class="txt_desc">
							<em class="screen_out">BEST</em>
							{{html contents}}
							{{if is_owner}}<a href="/mypot/json/DeleteComment.do?clipid=${target_id}&cmtid=${comment_id}" class="btn_comm btn_delete">삭제</a>{{/if}}{{if is_new}}<span class="ico_comm ico_new">new</span>{{/if}}
						</p>
						<span class="info_append">
							<span class="txt_name">${short_daumname}</span>
							<span class="txt_time">${regdttm}</span>
						</span>
					</div>
					<div class="cmt_foot">
						{{if is_owner == false}}
						{{if is_re_comment == false}}	
						<a href="/mypot/json/WriteComment.do?clipid=${target_id}&pcmtid=${comment_id}&contents=" class="link_report link_reply">답글</a>
						<span class="txt_bar"> | </span>
						{{/if}}
						<a href="${Tvpot.Brand.Utils.getSpamUrl(target_id, comment_id, contents)}" class="link_report">신고</a>
						{{/if}}
					</div>
					{{if is_re_comment == false}}					
					<a href=" /mypot/json/RecommendComment.do?clipid=${target_id}&cmtid=${comment_id}" class="btn_comm btn_recom" title="이 댓글을 추천합니다">
						<span class="screen_out">이 댓글 추천 수 : </span><span class="count">${re_commend_cnt}</span>
					</a>
					{{/if}}
				</div>

//]]>
            </script> 
      <script id="commentItemNoresult" type="text/x-jquery-tmpl">
//<![CDATA[

<div class="nodata_info alert_none">
	<strong class="txt_nodata">등록된 댓글이 없습니다. 첫번째 댓글을 작성해보세요.</strong>
</div>				

//]]>
            </script> 
      <div class="info_reply" id="commentReply" style="display:none;"> 
       <form id="commentReplyForm" action="/mypot/json/WriteComment.do" method="post"> 
        <fieldset class="fld_reply"> 
         <legend class="screen_out"> 위 댓글에 대한 답글작성 폼 </legend> 
         <input type="hidden" value="" class="clip_id" name="clipid" /> 
         <input type="hidden" value="" id="pcmtid" name="pcmtid" /> 
         <div class="box_cmt"> 
          <textarea cols="70" rows="3" class="tf_reply" title="답글을 달아주세요" id="contents" name="contents">인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요.</textarea> 
          <div class="byte_cmt"> 
           <span class="screen_out"> 입력된 바이트 수 : </span> 
           <span class="txt_byte"> 0 </span> / 300자 
          </div> 
         </div> 
         <button type="submit" class="btn_comm btn_cmt" id="btnSubmitReply"> 등록 </button> 
         <button type="button" class="btn_comm btn_cancel"> 취소 </button> 
        </fieldset> 
       </form> 
      </div> 
      <script id="descTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

    			<strong class="screen_out">본문</strong>
    			<p class="txt_intro">
				{{html source_link_info}}
				<br> <!-- 2013-01-25 수정 -->
				{{if user_bean.is_power_brand}}
					{{html url_link_contents}}
				{{else}}
					{{html String(contents).replace(/\n/g, '\n<br />') }}
				{{/if}}
				</p>
				{{if _isAudition}}
    			<div class="txt_category" is_audition="${_isAudition}" is_event="${_isEvent}"><a href="/" title="" class="link_txt">tv팟</a> &gt; <a href="/audition/AuditionChannelList.do?cateId=${category.id}&audieventid=${_audieventid}"  class="link_txt">${category.name}</a></div>
				{{else _isEvent}}
				<div class="txt_category" is_audition="${_isAudition}" is_event="${_isEvent}"><a href="/" title="" class="link_txt">tv팟</a> &gt; <a href="/project/ProjectView.do?projectid=${category.id}"  class="link_txt">${category.name}</a></div>
				{{else}}
				<div class="txt_category" is_audition="${_isAudition}" is_event="${_isEvent}"><a href="/" title="" class="link_txt">tv팟</a> &gt; <a href="/best/BestClip.do?cateid=${category.id}"  class="link_txt">${category.name}</a></div>
				{{/if}}
    			<div class="fold_comm">
    				<a href="javascript:;" class="link_fold"><span class="ico_comm">접기</span></a>
    			</div>

//]]>
            </script> 
      <script id="clipTitleTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

						<h4 class="tit_current" style="word-break: break-word;">${Tvpot.Brand.Utils.unescapeHtmlAndCutString(title,60,"..")}</h4>
						<span class="txt_bar"> | </span> 
						<span class="txt_count">플레이수 <span class="num_count">${Tvpot.Brand.Utils.addCommas(play_count)}</span></span>

//]]>
            </script> 
      <script id="clipTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 		
				<p class="info_loading" style="margin-top:100px">로딩 중</p>
    			<div class="play_loader" id="videoViewer"></div>

//]]>
            </script> 
      <script id="playInfoTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

            	<div class="play_info">

					{{if $item.meta_person }}
					<span class="txt_character">
            			<span class="ico_comm ico_character">연관 검색어</span>
						<span class="txt_related">
						{{each $item.meta_person}}
            			{{if $index > 0}}<span class="txt_bar">|</span>{{/if}} 
						<a href="${link_url}" class="link_related" target="_blank" title="${keyword} 검색 바로가기">${keyword}</a>
						{{/each}}
						</span>
            		</span>
					{{/if}}
            	</div>

//]]>
            </script> 
      <script id="geoBlockTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

	<div class="geo_block_wrapper"><img src="${thumb_url}" alt="" />
		<span class="ico_play">play</span>
		<div class="message_wrapper"><span class="bg">bg</span><span class="message">해당 동영상은 저작권자의 요청에 따라 대한민국에서만 시청할 수 있습니다.</span></div>
	</div>

//]]>
            </script> 
      <!--2016-08-29 / 2016-12-13 --> 
      <a href="http://blog.daum.net/ahahvideo/17946753" target="_blank" class="link_ending #close_banner_pcweb"> <img src="http://t1.daumcdn.net/tvpot/service/2015/banner/bnr_ending_161214.png" width="640px" height="60px" alt="2017년 6월 30일(금)! tv팟과 카카오TV가 하나가 됩니다." /> </a> 
      <!--2016-08-29 / 2016-12-13 추가 끝 --> 
      <!-- 2013-01-25 수정 시작 --> 
      <div class="vod_tit"> 
       <h4 class="ico_comm tit_broadcast" id="btn_tit_broadcast" title=""> </h4> 
       <span class="txt_bar"> | </span> 
       <span class="txt_count"> 동영상 <span class="num_count"> </span> </span> 
       <div class="vod_sort"> 
        <div class="opt_comm list_size"> 
         <div class="screen_out">
           목록정렬 선택상자 
         </div> 
         <span class="screen_out"> 선택내용 : </span> 
         <a href="javascript:;" class="btn_comm link_selected"> 12개씩 보기 </a> 
         <!----> 
         <input type="hidden" value="12" /> 
         <div class="screen_out">
           선택옵션 
         </div> 
         <ul class="list_opt"> 
          <li> <a href="javascript:;" class="link_option" data-size="12"> 12개씩 보기 </a> </li> 
          <li> <a href="javascript:;" class="link_option" data-size="24"> 24개씩 보기 </a> </li> 
          <li> <a href="javascript:;" class="link_option" data-size="36"> 36개씩 보기 </a> </li> 
          <li> <a href="javascript:;" class="link_option" data-size="48"> 48개씩 보기 </a> </li> 
         </ul> 
        </div> 
        <div class="opt_comm "> 
         <div class="screen_out">
           목록정렬 선택상자 
         </div> 
         <span class="screen_out"> 선택내용 : </span> 
         <a href="javascript:;" class="btn_comm link_selected"> 최신순 </a> 
         <!----> 
         <input type="hidden" value="플레이순" /> 
         <div class="screen_out">
           선택옵션 
         </div> 
         <ul class="list_opt"> 
          <li> <a href="javascript:;" class="link_option" data-order="date"> 최신순 </a> </li> 
          <li> <a href="javascript:;" class="link_option" data-order="play"> 플레이순 </a> </li> 
          <li> <a href="javascript:;" class="link_option" data-order="wow"> 추천순 </a> </li> 
          <li> <a href="javascript:;" class="link_option" data-order="reply"> 댓글순 </a> </li> 
         </ul> 
        </div> 
        <ul class="list_sort" style=""> 
         <li data-type="thumb"> <em class="screen_out"> 선택된 정렬 옵션 : </em> <span class="btn_comm btn_thumb"> 썸네일형으로 보기 </span> </li> 
         <li data-type="text"> <a class="btn_comm btn_desc" href="javascript:;"> 텍스트형으로 보기 </a> </li> 
        </ul> 
       </div> 
      </div> 
      <!-- 2013-01-25 수정 끝 --> 
      <script id="sortingTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
			<div class="opt_comm ">
        		<div class="screen_out">목록정렬 선택상자</div>
        		<span class="screen_out">선택내용 : </span>
        		<a href="javascript:;" class="btn_comm link_selected">최신순</a><!---->
        		<input type="hidden" value="플레이순" />
        		<div class="screen_out">선택옵션</div>
        		<ul class="list_opt">
        			<li><a href="javascript:;" class="link_option"  data-order="date">최신순</a></li>
        			<li><a href="javascript:;" class="link_option"  data-order="play">플레이순</a></li>
        			<li><a href="javascript:;" class="link_option"  data-order="wow">추천순</a></li>
        			<li ><a href="javascript:;" class="link_option" data-order="reply">댓글순</a></li>
        		</ul>
			</div>

//]]>
            </script> 
      <div class="thumb_vod 	 array_thumb "> 
       <ul class="list_vod" id="listArea"> 
        <p class="info_loading"> 로딩 중 </p> 
       </ul> 
       <script id="cliplistTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
  		{{each clip_list}}
			<li data-vid="${vid}"  data-id="${id}">
    			<div class="wrap_thumb">
    				<a href="javascript:;" class="link_thumb" title="${title} 동영상">
						<img src="${thumb_url_for_list}" width="198" height="111" class="thumb_img" alt="${title} 이미지">
						{{if is_youth_pest_clip}}
						<span class="bg_figcaption"></span>
						<span class="ico_adult">19금</span>
						{{/if}}
						<span class="time_play">
    						<span class="screen_out">재생시간</span>
    						${Tvpot.Brand.Utils.convertMMSSDuration(duration)}
    					</span>
						{{if has_hd == true }}<span class="ico_hd ico_hd1">HD</span>{{/if}}    					
    				</a>
    			</div>
    			<div class="wrap_cont">
    				<strong class="tit_info"><a href="javascript:;" class="link_txt" data-id="${id}" title="${title} 동영상" style="word-break: break-word;">${Tvpot.Brand.Utils.unescapeHtmlAndCutString(title,60,"..")}</a></strong>
    				<span class="info_append">
    					<span title="재생수" class="ico_comm ico_playcount">
    						<span class="screen_out">플레이</span>${Tvpot.Brand.Utils.addCommas(play_count)}
    					</span>
    					<span title="댓글수" class="ico_comm ico_cmtcount">
    						<span class="screen_out">댓글</span>${Tvpot.Brand.Utils.addCommas(cmt_cnt)}
    					</span>
						{{if !is_open || status==='D'}}<span class="ico_comm ico_lock">비공개</span>{{/if}}
    				</span>
    			</div>
    		</li>
		{{/each}}

//]]>
              </script> 
       <script id="cliplistTextTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
  		{{each clip_list}}
			<li  data-vid="${vid}"  data-id="${id}"> 
			<div class="wrap_thumb">
				<a href="javascript:;" class="link_thumb" title="${title}">
					<img src="${thumb_url_for_list}" width="170" height="96" class="thumb_img" alt="${title}">
					{{if is_youth_pest_clip}}
					<span class="bg_figcaption"></span>
					<span class="ico_adult">19금</span>
					{{/if}}
					<span class="time_play">
						<span class="screen_out">재생시간</span>
						${Tvpot.Brand.Utils.convertMMSSDuration(duration)}
					</span>
					{{if has_hd == true }}<span class="ico_hd ico_hd1">HD</span>{{/if}}
				</a>
				<!--<em class="frame_play">플레이중</em>-->
			</div>
			<div class="wrap_cont">
				<strong class="tit_info"><a href="javascript:;" class="link_txt" title="${title} 동영상">${title}</a></strong>
				{{if contents != null}}
				<span class="txt_desc"><a href="javascript:;" class="link_txt" title="${title} 동영상 내용">${Tvpot.Brand.Utils.stripHtmlAndCut(contents,155,"..")}</a></span> 
				{{/if}}
				<span class="info_append">
					<span class="txt_info">플레이</span>
					<span class="num_info">${Tvpot.Brand.Utils.addCommas(play_count)}</span>
					<span class="txt_bar"> | </span>
					<span class="txt_info">댓글</span>
					<span class="num_info">${Tvpot.Brand.Utils.addCommas(cmt_cnt)}</span>
					<span class="txt_bar"> | </span>
					<span class="txt_info">추천</span>
					<span class="num_info">${Tvpot.Brand.Utils.addCommas(recommend_count)}</span>
					<span class="txt_bar"> | </span>
					<span class="txt_info">업로드</span>
					<span class="num_info">${Tvpot.Brand.Utils.getDateString(reg_date,"day")}</span>
					{{if !is_open || status==='D'}}
					<span class="ico_comm ico_lock">비공개</span>
					{{/if}}
				</span>
			</div>
		</li>
		{{/each}}

//]]>
              </script> 
       <script id="viewNoresultList" type="text/x-jquery-tmpl">
//<![CDATA[

<div class="nodata_info">
	<em class="ico_alert"></em>
	<strong class="txt_nodata">등록 또는 공개한 동영상이 없습니다.</strong>
</div>	

//]]>
              </script> 
      </div> 
      <div class="paging_comm" id="playlistPaging" style="display: none;"> 
       <span class="inner_paging"> </span> 
       <script id="pagingTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

	{{if hasPrev}}
		<a href="${$item.getUrl(prev)}" page="${prev}" class="link_page btn_move btn_prev"><span class="ico_comm">이전</span></a>
	{{else}}
		<span class="link_page btn_move btn_prev"><span class="ico_comm">이전</span></span>
	{{/if}}
	{{each page}}
		{{if $value == current}}
			<span class="screen_out">현재페이지</span>
			<em class="link_page">${$value}</em>
		{{else}}
			<a href="${$item.getUrl($value)}" page="${$value}" class="link_page">${$value}</a>
		{{/if}}
	{{/each}}
	{{if hasNext}}
		<a href="${$item.getUrl(next)}" page="${next}" class="link_page btn_move btn_next"><span class="ico_comm">다음</span></a>
	{{else}}
		<span class="link_page btn_move btn_next"><span class="ico_comm">다음</span></span>
	{{/if}}
	
//]]>
              </script> 
       <a href="javascript:;" class="ico_comm btn_fill" id="btnPutAll"> 전체담기 </a> 
      </div> 
     </div> 
     <div id="mAside" role="complementary"> 
      <div class="wing_bnr"> 
       <iframe width="250" scrolling="no" height="250" frameborder="0" title="광고" id="adCgiBrandingStation" name="adCgiBrandingStation" marginwidth="0" marginheight="0" src="http://display.ad.daum.net/imp?slotid=05N56"> </iframe> 
      </div> 
      <div class="wing_program"> 
       <h4 class="tit_menu bg_comm"> <span class="txt_program"> 프로그램 </span> </h4> 
       <div class="menu_program program_on"> 
        <strong class="tit_program"> <a href="javascript:;" class="link_tit no_line" data-type="all"> <span class="f_l"> 전체동영상 </span> </a> </strong> 
       </div> 
       <div class="menu_program on"> 
        <strong class="tit_program"> <a href="javascript:;" class="link_tit" data-type="fold_btn"> <span class="txt_link"> 라이크펫 </span> </a> <a class="link_fold" data-type="fold_btn"> <span class="ico_comm ico_fold"> 하위 동영상 리스트 닫기 </span> </a> </strong> 
        <ul class="list_program"> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6644721"> 영상모음 </a> </li> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6601772"> 고양이 </a> </li> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6601771"> 강아지 </a> </li> 
        </ul> 
       </div> 
       <div class="menu_program on"> 
        <strong class="tit_program"> <a href="javascript:;" class="link_tit" data-type="fold_btn"> <span class="txt_link"> 디디&amp;티티 </span> </a> <a class="link_fold" data-type="fold_btn"> <span class="ico_comm ico_fold"> 하위 동영상 리스트 닫기 </span> </a> </strong> 
        <ul class="list_program"> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6425910"> 디디&amp;티티월드 </a> </li> 
        </ul> 
       </div> 
       <div class="menu_program"> 
        <strong class="tit_program"> <a href="javascript:;" class="link_tit" data-type="fold_btn"> <span class="txt_link"> 반사모 </span> </a> <a class="link_fold" data-type="fold_btn"> <span class="ico_comm ico_open"> 하위 동영상 리스트 열기 </span> </a> </strong> 
        <ul class="list_program"> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6187050"> 1월의 반사모 </a> </li> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6328952"> 2월의 반사모 </a> </li> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6095088"> 12월의 반사모 </a> </li> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6033331"> 11월의 반사모 </a> </li> 
        </ul> 
       </div> 
       <div class="menu_program menu_etc"> 
        <strong class="screen_out"> 그룹이 없는 플레이 리스트 </strong> 
        <ul class="list_program list_etc"> 
         <li> <a href="javascript:;" class="link_vod" data-type="playlist" data-id="6994119"> 크림히어로즈 </a> </li> 
        </ul> 
       </div> 
      </div> 
      <script id="playlistTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
  		{{each list}}
				<li>
					<a href="javascript:;" class="link_vod"  data-type="playlist"  data-id="${id}">
						${name}
						{{if $isNew}}<span class="ico_comm ico_new">new</span>{{/if}}
					</a>
				</li>
		{{/each}}
	
//]]>
            </script> 
      <script id="playlistSelectTemplate" type="text/x-jquery-tmpl">
//<![CDATA[

		<li class="program_on">
			<em class="screen_out">선택된 동영상</em>
			<strong class="link_vod" data-id="${id}">
				${name}
			</strong>
		</li>
	
//]]>
            </script> 
      <script id="playlistItemTemplate" type="text/x-jquery-tmpl">
//<![CDATA[
 
  				<li>
					<a href="javascript:;" class="link_vod"  data-type="playlist"  data-id="${id}">
						${name}
						{{if $isNew}}<span class="ico_comm ico_new">new</span>{{/if}}
					</a>
				</li>
		
	
//]]>
            </script> 
     </div> 
    </div> 
   </div> 
   <script type="text/javascript">
//<![CDATA[

var config = {
	clipId : 81741909,
	playlistId : 0,
	ownerId : 'P.9W_h7v-vo0',
	page : '1',
		title : "브랜드팟",
	isBrand : true,
	viewType : 'view',
	query : '',
	isMobile : false,
	startDuration : '0',
	startNotReport : '',
	autoPlay :'true',
	loadInit : true
};
var _view = new Tvpot.Brand.View(config);

$(window).load(function(){
	Tvpot.AnyViewPlayList.init({
		thumbList:['.thumb_vod .list_vod .link_thumb'],
		login:false	});
	
});

$(window).load(function(){
		Tvpot.WideViewPlayer.init({
			viewName : 'MypotView',
			cookieNamePostfix : "IsWide",
			WideViewPromotionBannerShow : false,
			WideViewPromotionBannerCookieName : "wideViewPromoBannerShow"
		});
});





// 티아라 클릭코드
var _tiq = 'undefined' !== typeof _tiq ? _tiq : []; // Global Variables

_tiq.push(['__setSection', 'tvpot_reduce']);
_tiq.push(['__setPageName', 'play_view']);
_tiq.push(['__setParam', 'puid', '1487232420740']); // 서버 시간 (Unix Timestamp ms)입니다.

_tiq.push(['__clickOn']);
_tiq.push(['__trackPageview']);
(function(d) {
	var se = d.createElement('script'); se.type = 'text/javascript'; se.async = true;
	se.src = location.protocol + '//m2.daumcdn.net/tiara/js/td.min.js';
	var s = d.getElementsByTagName('head')[0]; s.appendChild(se);
})(document);

//]]>
      </script> 
   <a href="#daumWrap" class="btn_comm btn_pagetop" style="top:800px" title="맨위로 이동"> top </a> 
   <!-- 버튼 위치 설정 : top:~px 값 변경  --> 
   <!-- 2012-12-20 top 버튼 추가 --> 
   <script type="text/javascript">
//<![CDATA[

Tvpot.Brand.Info = {
	isBrand: true};
				
$(document).ready(function() {
	Tvpot.Brand.Utils.toTheTop($(".btn_pagetop"));
});

//]]>
      </script> 
   <hr class="screen_out" /> 
   <div id="daumFoot" role="contentinfo"> 
    <h2 class="screen_out"> tv팟 이용정보 </h2> 
    <a href="http://www.daum.net/doc/info.html" target="_blank" class="link_info"> 서비스 약관/정책 </a> 
    <span class="txt_bar"> | </span> 
    <a href="http://www.daum.net/doc/info_protection.html" target="_blank" class="link_info"> 개인정보처리방침 </a> 
    <span class="txt_bar"> | </span> 
    <a href="https://cs.daum.net/redbell/top.html" target="_blank" class="link_info"> 권리침해신고 </a> | 
    <a href="http://cs.daum.net/faq/142.html" target="_blank" class="link_info"> tv팟 고객센터 </a> 
    <small class="info_copyright"> Copyright &copy; <a href="http://www.kakaocorp.com/" target="_blank" class="link_daumkakao"> Kakao Corp. </a> All rights reserved. </small> 
   </div> 
   <!-- //daumFoot --> 
  </div> 
  <script type="text/javascript">
//<![CDATA[

			//GNB - 관련 사이트
			
			Tvpot.Brand.Env = {
					isLogin:  false				};
			Tvpot.Brand.relateSite.init();
			Tvpot.Brand.Subscription.init('P.9W_h7v-vo0','false');

//]]>
    </script> 
  <script charset="utf-8" type="text/javascript" src="//m1.daumcdn.net/tiara/js/td.min.js">
    </script> 
  <script type="text/javascript">
//<![CDATA[

    window.__pageTracker = {};
 
    if (typeof __Tiara !== 'undefined' && typeof __Tiara.__getTracker !== 'undefined') {
        __pageTracker = __Tiara.__getTracker();
    } else {
        __pageTracker.__trackPageview = function() {};
    }
/* click log 용 더미 프레임 */
document.write('<iframe src="about:blank" width="0" height="0" frameborder="0" scrolling="no" name="ifr_korClick" id="ifr_korClick" style="position:absolute;left:-50000px;top:-50000px;"></iframe>');

//]]>
    </script> 
  <iframe src="about:blank" width="0" height="0" frameborder="0" scrolling="no" name="ifr_korClick" id="ifr_korClick" style="position:absolute;left:-50000px;top:-50000px;"> </iframe> 
  <script type="text/javascript">

//<![CDATA[
var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-30322394-1']);
_gaq.push(['_setSampleRate', '80']);
_gaq.push(['_setDomainName', 'tvpot.daum.net']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
//]]>

    </script> 
  <!-- 
API
* 클립 정보 : /mypot/json/GetClipInfo.do
* 플레이리스트 정보 : /mypot/json/GetPlaylistList.do?ownerid=팟ownerid&groupid=확장하고싶은groupid
 --> 
  <object type="application/x-shockwave-flash"></object>   
 </body>
</html>
